/AccessibilityNFT.class
/Parsing.class
/PassiveScan.class
/PerformanceMetrics.class
/PerformanceNFT.class
/RunAxe.class
/SecurityNFT.class
/HTMLVisualValidationReport.class
/TestApplication.class
/BrokenLinks.class
/TestBrokenLink.class
